<h2>Global Chat</h2>

<p>
 Logged as: <b>{{ request.user.username }}</b> |
 <a href="/logout/">Logout</a>
</p>

<input id="messageInput">
<button onclick="sendMessage()">Send</button>

<ul id="chatLog"></ul>

<script>
const socket = new WebSocket("ws://" + window.location.host + "/ws/chat/");

socket.onmessage = function(e) {
    const data = JSON.parse(e.data);

    const li = document.createElement("li");
    li.innerHTML = "<b>" + data.username + ":</b> " + data.message;

    document.getElementById("chatLog").appendChild(li);
}

function sendMessage() {
    const input = document.getElementById("messageInput");

    socket.send(JSON.stringify({
        message: input.value
    }));

    input.value = "";
}
</script>
